header img {
  width: 160px;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  padding: 20px;
}

.organization-row {
  display: flex;
  justify-content: space-between;
}

